
main {
    padding-top: 70px;
}

.contenedorPrincipal {
   position: absolute;
   left: 13%;

    margin-top: 20px;
    background-color: #ffffff;
    width: 80%;
    height: 80%;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.contenedorPrincipal h4{
    padding-top: 30px; 
    margin-left: 15px;
}
.separador{
    background-color:#b4bbc0 ;
    width: 100%;
    height: 1px;
}
.botonAgregar.btn{
    background-color:  #B9CBA5;
    color: white;
    font-weight: bold;
    border: 1px solid #b4bbc0;
   
}
