.header {
    -fx-padding: 0 25px;
    -fx-spacing: 10px;
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: #A4A57E;
    -fx-pref-height: 60px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.busquedas {
    -fx-background-color: white;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 5px 10px;
    -fx-effect: dropshadow(gaussian, #9DB58F, 8, 0.1, 0, 2);
    -fx-spacing: 10px;
    -fx-alignment: CENTER_LEFT;
}

.busquedas:hover {
    -fx-effect: dropshadow(gaussian, #9DB58F, 12, 0.2, 0, 2);
}

.form-control {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #333;
    -fx-font-size: 14px;
}

.form-control:focused {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.botonBusqueda {
    -fx-cursor: hand;
    -fx-opacity: 0.7;
}

.botonBusqueda:hover {
    -fx-opacity: 1.0;
}
