.text-field, .password-field{
    -fx-background-color: #F2F2F2;
    -fx-font-size: 14px;
    -fx-padding: 5 0 5 5;
    -fx-background-insets: 0;
    -fx-border-radius: 6;
    -fx-background-radius:6;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: null;
    -fx-text-fill: black;
}
.Generos{
  -fx-background-color: #F2F2F2;
    -fx-font-size: 14px;
    -fx-padding: 5 0 5 5;
    -fx-background-insets: 0;
    -fx-border-radius: 6;
    -fx-background-radius:6;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: null;
    -fx-text-fill: black;
}
.text-field:focused {
-fx-border-color: black;
 -fx-background-radius:6;
  -fx-border-radius: 6;
  -fx-background-color: transparent;
  -fx-text-fill: black;
}
.Generos:focused {
-fx-border-color: black;
 -fx-background-radius:6;
  -fx-border-radius: 6;
  -fx-background-color: transparent;

}
.label{
     -fx-font-weight: bold;
      -fx-font-size: 14px;
      -fx-text-fill:#8B8E98;
}