body {
    background-color: #FCE7C8;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.contenedor-login {
    display: flex;
    width: 35%;
    height: 470px;
    margin: 80px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formulario-login {
    flex: 1;
    background-color: #FFFFFF;
    padding: 40px;
    height: 100%;
}

.formulario-login h2 {
    font-size: 25px;
    font-weight: bold;
}

.botonSesion {
    background-color: #B9CBA5;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    width: 60%;
    height: 50px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.botonSesion:hover {
    background-color: #9DB58F;
}



input.form-control {
    background-color: transparent;
    border: 0;
    border-bottom: 1.5px solid #000000;
    border-radius: 0;
    width: 360px;
    font-size: 14px;
     transition: box-shadow 0.3s ease;
}

label.form-label {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px;
}

input.form-control:focus {
    box-shadow: none;
    border-color: #000000;
}

.textos {
    font-size: 14px;
    color: #000000;
    margin-top: 30px;
    text-align: center;
}

.alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    background-color: #d32f2f;
    color: white;
}

.regresar {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #B9CBA5;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    transition: 0.3s;
}

.regresar:hover {
    background-color: #9DB58F;
}
input.form-control:hover {
  box-shadow: 0 1px 0 0 #2f303d, 0px 0px 15px -25px #000;
    transform: scale(1.01);
}


