footer{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #221E1B;
}
.iconos{
    position: absolute;
    right: 70px;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    gap: 20px;
}
.textosFooter{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}